/* Global Styles */
:root {
    --color-primary: #141414;
    --color-secondary: #545658;
    --color-accent: #d24712;
    --color-background: #f1dbdb;
    --color-header: #921b9a;
    --color-text: #ffffff;
    --color-button: #efe6e0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-background);
    color: var(--color-primary);
    margin: 0;
    padding: 0;
}

/* Header with purple background */
header {
    background-color: var(--color-header);
    color: var(--color-text);
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 3rem;
}

header p {
    font-size: 1.2rem;
}

/* Category Buttons */
.category-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}

.category-btn {
    padding: 10px 20px;
    background-color: var(--color-accent);
    color: #e2d0d0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.category-btn:hover {
    background-color: #b85cff;
}

/* About Us Section */
#intro {
    display: none;
    padding: 20px;
    background-color: #f2dcdc;
    border-radius: 5px;
}

/* Play it Now Button */
.play-now-btn {
    background-color: var(--color-accent);
    color: #e4d6d6;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}

.play-now-btn:hover {
    background-color: #b85cff;
}

/* Social Media and Store Logos */
.social-media-links {
    text-align: center;
    margin-top: 20px;
}

.social-logo {
    width: 50px;
    margin: 0 15px;
}

.app-download {
    text-align: center;
    margin-top: 20px;
}

.store-logo {
    width: 180px; /* Wider for better visibility */
    margin: 0 15px;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

.buttons .btn {
    padding: 10px 20px;
    background-color: var(--color-accent);
    color: #e0cece;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons .btn:hover {
    background-color: #b85cff;
}

.search-bar {
    padding: 8px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ecc9c9;
    width: 250px;
    margin: 20px 0;
}

/* Episode Flex Layout */
#episodeList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.episode {
    margin-bottom: 20px;
}

/* Responsive Design for Smaller Screens */
@media screen and (max-width: 768px) {
    .category-btn {
        width: 45%;
    }

    .play-now-btn {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .category-btn {
        width: 100%;
    }
}
